/* RESOURCES: */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items */
/* https://stackoverflow.com/questions/52417889/setting-minimum-and-maximum-number-of-columns-using-css-grid */

.storeItems {
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 65px);

  padding: 50px 75px 0 75px;

  background-color: #EEEEEE;

  overflow: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px, 350px));
  grid-template-rows: repeat(auto-fill,minmax(350px, 350px));
  gap: 20px;

  /* display: flex;
  flex-wrap: wrap; */

}

/* .store-items>* {
  flex: 0 0 25%;
} */