.container {
  display: flex;
  flex-direction: column;
  position: fixed;

  box-sizing: border-box;

  right: 0;
  width: 30vw;
  max-width: 600px;
  height: calc(100vh - 65px);

  padding: 20px;

  border-left: 1px solid #118259;
  background-color: #EEEEEE;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #118259;
}

.closeCart {
  rotate: 45deg;
  cursor: pointer;
}

.container > ul {
  list-style-type: none;
  padding: 0;
  width: inherit;
  width: 100%;
  box-sizing: border-box;
  overflow: scroll;
}

.container > ul > li {
  padding: 0;
  border-radius: 4px;

  margin-bottom: 10px;
  /* box-sizing: border-box; */

  background-color: #C4DDD4;
}

.cartFooter {
  width: calc(100% - 40px);
  box-sizing: border-box;

  color: #118259;
  background-color: #EEEEEE;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right:20px;

  display: flex;
  flex-direction: column;
}

.total {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #118259;
}

.checkout {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 65px;

  box-sizing: border-box;

  color:#EEEEEE;
  background-color: #118259;

  border-radius: 4px;

  cursor: pointer;
}