.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #118259;
  background-color: #EEEEEE;
  font-style: normal;
  font-weight: 500;
  border: #118259;
}

.inputField{
  border-radius: 4px;
  border: #118259;
   background-color: #C4DDD4;
  color:#118259;
}

.label{
  font-weight:bolder;
  font-size:larger;
}

.button{
  background-color: #118259;
  padding-bottom: 12px;
}