.container {
  display: flex;
  flex-direction: row;
  gap: 40px;

  box-sizing: border-box;

  padding: 50px;

  width: 80vw;
  max-width: 1200px;
  height: 60vh;

  color: #118259;
  background-color: #EEEEEE;

}